{
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"eslint-plugin-import"
	],
	"env": {
		"node": true,
		"es6": true,
		"browser": true
	},
	"extends": "eslint:recommended",
	"settings": {
		"import/resolver": "webpack"
	},
	"rules": {
		"no-tabs": 0,
		"no-multi-spaces": 1,
		"key-spacing": 1,
		"object-curly-spacing": [
			"warn",
			"always"
		],
		"array-bracket-spacing": [
			"warn",
			"never"
		],
		"block-spacing": [
			1,
			"always"
		],
		"no-unused-expressions": 1,
		"eol-last": [
			"error",
			"always"
		],
		"import/no-unresolved": 2,
		"import/extensions": [
			"error",
			"never"
		],
		"import/order": [
			2,
			{
				"newlines-between": "always-and-inside-groups",
				"groups": [
					"builtin",
					"external",
					[
						"internal",
						"parent"
					],
					"sibling",
					"index"
				]
			}
		],
		"no-undefined": 0,
		"max-nested-callbacks": [
			"error",
			{
				"max": 5
			}
		],
		"camelcase": 0,
		"semi": "off",
		"@typescript-eslint/naming-convention": [
			2,
			{
				"selector": "function",
				"format": [
					"camelCase",
					"PascalCase"
				]
			},
			{
				"selector": "variable",
				"format": [
					"camelCase",
					"PascalCase",
					"UPPER_CASE"
				]
			},
			{
				"selector": "parameter",
				"format": [
					"camelCase",
					"PascalCase"
				],
				"leadingUnderscore": "allow"
			},
			{
				"selector": "typeLike",
				"format": [
					"PascalCase"
				]
			}
		],
		"@typescript-eslint/no-non-null-assertion": 0,
		"no-unused-vars": [
			1,
			{
				"vars": "all",
				"args": "after-used"
			}
		],
		"@typescript-eslint/no-var-requires": 0,
		"@typescript-eslint/no-empty-function": 0,
		"@typescript-eslint/prefer-interface": 0,
		"@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/semi": [
			2,
			"never"
		],
		"indent": [
			"error",
			"tab",
			{
				"ObjectExpression": 1
			}
		],
		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": [
			2,
			{
				"classes": false,
				"functions": false,
				"variables": false
			}
		],
		"no-useless-constructor": 0,
		"@typescript-eslint/no-useless-constructor": 2
	}
}