html, body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica-Neue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
}

.frame {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.frame>* {
	display: flex;
	flex-direction: row;
}

#header>* {
	margin-left: 10px;
}

#log {
	font-size: 12px;
	padding: 10px;
}

#left {
	flex-direction: column;
}

#mapFrame {
	margin-top: 20px;
	position: relative;
	border: solid 1px #cccccc;
}

select {
	padding: 5px 10px;
	min-height: 30px;
}