html, body {
	margin: 0;
	padding: 0;
}

.frame {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.frame > * {
	display: flex;
	flex-direction: row;
}

#header > *{
	margin-left: 10px;
}

#main {

}
